<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milet.demo.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="com.milet.demo.entity.Area">
    <!--@mbg.generated-->
    <!--@Table t_area-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area_type" jdbcType="INTEGER" property="areaType" />
    <result column="line_type" jdbcType="INTEGER" property="lineType" />
    <result column="max_row" jdbcType="INTEGER" property="maxRow" />
    <result column="max_colum" jdbcType="INTEGER" property="maxColum" />
    <result column="step_id" jdbcType="BIGINT" property="stepId" />
    <result column="overflow_id" jdbcType="BIGINT" property="overflowId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, delete_time, deleted, `name`, area_type, line_type, 
    max_row, max_colum, step_id, overflow_id
  </sql>
</mapper>