<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milet.demo.mapper.LocationMapper">
  <resultMap id="BaseResultMap" type="com.milet.demo.entity.Location">
    <!--@mbg.generated-->
    <!--@Table t_location-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="row" jdbcType="INTEGER" property="row" />
    <result column="colum" jdbcType="INTEGER" property="colum" />
    <result column="part_no" jdbcType="VARCHAR" property="partNo" />
    <result column="booked" jdbcType="BOOLEAN" property="booked" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, delete_time, deleted, area_id, `row`, colum, part_no, 
    booked
  </sql>
</mapper>