<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milet.demo.mapper.StepMapper">
  <resultMap id="BaseResultMap" type="com.milet.demo.entity.Step">
    <!--@mbg.generated-->
    <!--@Table t_step-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="pre_step_id" jdbcType="BIGINT" property="preStepId" />
    <result column="route_id" jdbcType="BIGINT" property="routeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, delete_time, deleted, pre_step_id, route_id
  </sql>
</mapper>